body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-image: linear-gradient(to right, #2C3E50, #4CA1AF);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 30px;
  padding: 30px;
  color: #FFFFFF;
}

header.cd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header.cd nav a {
  color: #FFFFFF;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

header.cd nav a:hover {
  color: #1ABC9C;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #1ABC9C;
  text-align: center;
}

.about {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px 0;
}

.matter {
  width: 400px;
  color: #FFFFFF;
  text-align: left;
}

.skillsc {
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills {
  margin: 20px;
  text-align: left;
}

.skill-bar {
  height: 18px;
  background-color: #2C3E50;
  text-align: right;
  padding-right: 5px;
  color: #FFFFFF;
}

.skill-bar.python { width: 85%; background-color: #1ABC9C; }
skill-bar.c { width: 80%; background-color: #3498DB; }
.skill-bar.html { width: 65%; background-color: #E67E22; }
.skill-bar.java { width: 50%; background-color: #E74C3C; }
.skill-bar.communication { width: 90%; background-color: #1ABC9C; }
.skill-bar.projects { width: 80%; background-color: #3498DB; }
.skill-bar.team { width: 75%; background-color: #E67E22; }
.skill-bar.creativity { width: 60%; background-color: #E74C3C; }

.project {
  text-align: center;
}

.box-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  width: 400px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #1ABC9C;
  border-radius: 10px;
  background-color: #34495E;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact {
  text-align: center;
}
.det {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.det img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.det div p {
  margin: 5px 0;
}
.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the form elements */
}

form input, form textarea, form button {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #555;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #2C3E50;
  color: #FFFFFF;
}

form input:focus, form textarea:focus {
  border-color: #1ABC9C;
  outline: none;
}

form button {
  background-color: #1ABC9C;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #16A085;
}

